.breadcrumbs_wrapper {
	ul {
		float: left;
	}
	.form_docs {
		float: right;
		display: inline-block;
		padding: 12px 0;
		display: none;
		span {
			font-size: 15px;
			padding: 5px 15px;
			border-radius: 15px;
			border: 1px solid transparent;
			cursor: pointer;
			color: #fff;
			background: var(--main-color);
			position: relative;
			transition: 0.5s;
			-moz-transition: 0.5s;
			-webkit-transition: 0.5s;
			-o-transition: 0.5s;
			position: relative;
			padding-left: 30px;
			text-transform: uppercase;
			svg {
				width: 15px;
				height: 15px;
				fill: #fff;
				position: absolute;
				top: 8px;
				left: 10px;
				transition: 0.5s;
			}
			&:hover {
				background: #fff;
				border: 1px solid var(--main-color);
				color: var(--main-color);
				svg {
					fill: var(--main-color);
				}
			}
		}
	}
	h1 {
		color: #fff;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
		font-weight: 600;
		padding-right: 10px;
	}
	h2 {
		color: #fff;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
		font-weight: 600;
		padding-right: 10px;
	}
	.dh1 {
		div {
			color: #fff;
			text-transform: uppercase;
			font-size: 36px;
			line-height: 36px;
			text-align: center;
			font-weight: 600;
			padding-right: 10px;
		}
	}
}
.breadcrumbs {
	.breadcrumbs_inner {
		width: 100%;
		height: 100%;
		min-height: 300px;
        max-height: 300px;
		background-size: cover;
		position: relative;
		&:after {
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0px;
			background-repeat: no-repeat;
			background-position: bottom;
			z-index: 1;
			background-size: 100% auto;
			pointer-events: none;
		}
		.breadcrumb__item {
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
			}
			color: #fff;
			text-decoration: none;
		}
	}
	.container {
		border-bottom: 1px solid #eee;
		.breadcrumb__item {
			a {
				color: #222222;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}
.breadcrumb {
	padding: 12px 0 12px 0;
	&::after {
		display: block;
		clear: both;
		content: " ";
	}
}
.breadcrumbs_inner {
	.breadcrumb {
		padding: 12px 0 12px 0;
		text-align: center;
	}
}
.breadcrumb__item {
	display: inline-block;
	margin-right: 20px;
	list-style: none;
	color: #222;
	font-size: 15px;
	position: relative;
	color: #222;
	text-decoration: none;
	a {
		color: #222;
		text-decoration: none;
		&:hover {
			color: #222;
		}
	}
	&::after {
		display: block;
		width: 14px;
		height: 15px;
		color: #eee;
		content: "";
		background: url('data:image/svg+xml;utf8,<svg  width="10px" height="10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" ><path fill="gray" d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg>');
		background-repeat: no-repeat;
		position: absolute;
		top: 6px;
		right: -21px;
	}
	&:last-child {
		&::after {
			content: "" !important;
			display: none;
		}
	}
}
@media all and (max-width: 600px) {
	.breadcrumbs_wrapper {
		.form_docs {
			display: none;
		}
		h1 {
			font-size: 24px;
			line-height: 24px;
		}
		h2 {
			font-size: 24px;
			line-height: 24px;
		}
		.dh1 {
			div {
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
	.breadcrumbs {
		.breadcrumbs_inner {
			min-height: 160px;
		}
	}
}
@media all and (max-width: 1100px) {
	.breadcrumbs {
		.breadcrumbs_inner {
			min-height: 220px;
		}
	}
}
@media screen and (max-width: 400px) {
	.breadcrumb__item {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.breadcrumb__item {
		font-size: 12px;
	}
}
