ul.menu-bottom {
	li.level0 {
		float: left;
		width: 50%;
		box-sizing: border-box;
		>a {
			margin-bottom: 20px;
			display: block;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
		}
		>span {
			margin-bottom: 20px;
			display: block;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
		}
		ul {
			margin-top: 4px;
			li {
				margin-bottom: 12px;
				a {
					color: #eee;
					font-size: 13px;
					&:hover {
						color: var(--main-color);
					}
				}
			}
		}
		span.click-mobile {
			background: transparent url("https://vinavic.vn/blocks/mainmenu/assets/images/icon-click.png") no-repeat scroll center;
			position: absolute;
			cursor: pointer;
			padding: 19px;
			right: 0px;
			top: 0px;
			display: none;
		}
		span.click-mobile.active {
			background: transparent url("https://vinavic.vn/blocks/mainmenu/assets/images/icon-click-active.png") no-repeat scroll center;
		}
	}
}
ul {
	li.level1 {
		a {
			&:hover {
				color: var(--main-color);
			}
		}
		span {
			&:hover {
				color: var(--main-color);
			}
		}
	}
}
.menu-bottom {
	ul {
		li.mid-sitem {
			>span {
				i {
					background: transparent url(https://vinavic.vn/blocks/mainmenu/assets/images/bo-cong-thuong.png) no-repeat scroll left bottom;
					content: ' ';
					height: 47px;
					display: block;
					margin-top: 23px;
					padding-top: 12px;
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	ul.menu-bottom {
		li.level0 {
			padding: 0px 0px 0px 0px;
			float: left;
			width: 100%;
			border: 1px solid #e3e3e3;
			margin-bottom: 10px;
			position: relative;
			span.click-mobile {
				display: block;
			}
			>a {
				display: block;
				padding: 8px;
				margin-bottom: 0;
			}
			>span {
				display: block;
				padding: 8px;
				margin-bottom: 0;
			}
			ul {
				display: none;
				li {
					margin-bottom: 8px;
				}
			}
		}
	}
	ul {
		li.level1 {
			border-top: 1px solid #e3e3e3;
			padding: 8px 0px 7px 0px;
			margin-left: 22px;
			&:first-child {
				border-top: 0;
			}
		}
		li.level1.first-sitem {
			border-top: 0;
		}
	}
}
.block_share_hotline {
	margin-top: 30px;
	.hotline-athis {
		a {
			display: inline-grid;
		}
		.bor_share {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			position: relative;
			border: 1px solid;
			float: left;
			margin-right: 20px;
			transition: all 0.3s;
			&:hover {
				background-color: #fff;
			}
			svg {
				position: absolute;
				width: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.3s;
			}
		}
		.a_fb {
			.bor_share {
				background-color: #3B5998;
				color: #fff;
				svg {
					transform: translate(-50%, -50%) scale(0.8);
				}
			}
		}
		.a_tw {
			.bor_share {
				background-color: #4EA6EA;
				color: #fff;
			}
		}
		.a_ytb {
			.bor_share {
				background-color: #EF1B0D;
				color: #fff;
			}
		}
		.a_p {
			.bor_share {
				background-color: #9B1120;
				color: #fff;
			}
		}
	}
}
